@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Movies for You</h1>
    <p class="lead">The only place where you can pretend to rent movies</p>   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Think of a movie that you would not like to see
        </p>      
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>Maybe there's a series that you always wanted to see from the beginning.  Too bad you won't find it here.</p>        
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>Yet one more service we don't actually offer</p>        
    </div>
</div>