@{
    ViewBag.Title = "Home Page";
}
<div class="row jumbotron">
    <div class="col-md-5"><h1><font color="#ffebes">Music Store</font></h1></div>  
    <div id="jumboimg" >
        <img id="jumboPic" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQGEs3CoOaxkHPb0TvV_7ndybJEHIasDHDWEVnXM52qY5S7nO0GkQ" class="img-rounded img-responsive" onmouseover="switchImage()" onmouseout="switchImage()" height="250 " alt="Record player">
    </div>
</div>

<script>
    var image = document.getElementById("jumboPic");
    function switchImage()
    {
        if (image.src == "https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQGEs3CoOaxkHPb0TvV_7ndybJEHIasDHDWEVnXM52qY5S7nO0GkQ") {
            image.src = "https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQTsfqmjtSlgrCDith-1GHDAf-T0oTOCRGLE_-G4kb34ep-uAsm1g";
        }
        else
        {
            image.src = "https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQGEs3CoOaxkHPb0TvV_7ndybJEHIasDHDWEVnXM52qY5S7nO0GkQ";
        }
    }
</script>

<div class="row homePage">
    <div class="col-md-4" >
        <h2>Customers</h2>        
        <p>@Html.ActionLink("Customers", "Index", "Customers")</p>
    </div>
    <div class="col-md-4">
        <h2>Artists</h2>        
        <p>@Html.ActionLink("Available Albums", "Index", "Musics")</p>
        <p class="text-info">Check back often for new additions</p>
    </div>
    <div class="col-md-4">
        <h2>Purchases</h2>        
        <p>@Html.ActionLink("Purchase History", "Index", "Purchases")</p>
    </div>
</div>