@{
    ViewBag.Title = "Home Page";
}
<h1>My Home Page</h1>

<p class="firstp">This is some more practice</p>

<p id="secondp">Write something else here</p>

<p>One more thing to see.</p>
 
<img src="http://www.poker.co.uk/wp-content/uploads/2012/02/poker-art1.jpg" alt="The four suits from a deck of cards"/>
<iframe  src="https://www.youtube.com/embed/jmmTowZmLW0" frameborder="0" allowfullscreen></iframe>