body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.h2{
    height: 40px;
}
.jumbotron{
    background-color: #9b4e82; 
    margin: 0px;   
}
#jumboimg{
    float: right;        
}
.homePage{
    text-align: center;
    background-color: #9d9e9d;
    margin-left: 2px;
    margin-right: 2px;
}
.homePage a{
    font-size: 18px;        
}
.homePage p{
    font-size: 15px;
}